<div>
  <button class="add-btn" (click)="addUser()">Add User</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <ng-container *ngIf="!user.editing; else editFields">
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address }}</td>
      </ng-container>
      <ng-template #editFields>
        <td><input type="text" [(ngModel)]="user.firstname"></td>
        <td><input type="text" [(ngModel)]="user.lastname"></td>
        <td><input type="text" [(ngModel)]="user.email"></td>
        <td><input type="text" [(ngModel)]="user.address"></td>
      </ng-template>
      <td>
        <button class="btn-group" (click)="user.editing = !user.editing">
          {{ user.editing ? 'Cancel' : 'Edit' }}
        </button>
        <button class="btn-group" *ngIf="user.editing" (click)="saveUser(user)">Save</button>
        <button class="btn-group" (click)="deleteUser(user.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
